@font-face {
    font-family: 'Classic Roman Std';
    src: url('fonts/Classic\ Roman\ Std\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --lily-fg-color: #ddd;
    --lily-bg-color: transparent;
    --lily-grey: #3a3a3a;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to bottom right, #2a2a2a, #1e1e1e, #3b3b3b);
    background-color: #1e1e1e; /* Fallback color */

    transition: transform 1s ease-in-out;
    overflow: hidden;

    animation: rain 0.5s linear infinite;
}

/* animation for rain */
@keyframes rain {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 20% 100%;
    }
}

/* css for raind drops */
.rain-drop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 25px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
    animation: fall linear infinite;
}

/* animation for falling */
@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}


.title {
    flex: 1;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 90%;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.title h1 {
    font-family: 'Classic Roman Std', monospace;
    font-size: 60px;
    color: var(--lily-fg-color);
}

.battery {
    height: 10%;

    justify-content: center;
    align-items: center;
}

.power-button {
    height: 10%;

    display: flex;
    flex-direction: row;

    gap: 30px;
}

.power-button button {
    font-size: 50px;

    color: var(--lily-fg-color);
    background-color: var(--lily-bg-color);
    
    border: none;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 100vh;
}

.sub-container {
    padding: 5px;
}

/* css for login button */
#login-button {
    font-family: 'Classic Roman Std', monospace;
    font-size: 35px;

    border: none;
    border-radius: 5px;
    color: var(--lily-fg-color);
    background-color: var(--lily-bg-color);
}

/* css for profile image */
.profile {
    height: 30vh;
    
    margin-top: 17vh;
    margin-bottom: 18vh;
    object-fit: contain;
}

/* css for dropdown menu */
#userpass-container {
    max-width: inherit;
    position: relative;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% - 27px);

    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid;

    color: var(--lily-fg-color);
    border-color: var(--lily-grey);
    background-color: var(--lily-grey);

    text-align: center;

    border-radius: 5px;
    font-size: 25px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 1000;
}

#dropdown-menu li {
    width: 100%;

    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    font-size: 25px;

    text-align: center;
}

#dropdown-menu.active {
    display: block;
}

#dropdown-menu li:hover {
    background-color: var(--lily-grey);
    color: var(--lily-bg-color);
}

/* css for input field styling */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid;

    color: var(--lily-fg-color);
    border-color: var(--lily-bg-color);
    background-color: var(--lily-bg-color);

    text-align: center;
    caret-color: var(--lily-fg-color);

    border-radius: 5px;
    font-size: 30px;
}

.input-field::placeholder {
    text-align: center;
}

.input-field:focus {
    outline: none;
}

.input-field:focus::placeholder {
    color: transparent;
}