body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
}

.title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sub-container {
    padding: 5px;
}

#login-container {
    display: none;
}

/* css for select field styling */
.select-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid;

    color: black;
    border-color: white;
    background-color: white;

    text-align: center;
    caret-color: transparent;

    border-radius: 5px;
    font-size: 16px;

    transition: border-color 0.3s ease;

    appearance: none;
}

/* css for input field styling */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid;

    color: black;
    border-color: white;
    background-color: white;

    text-align: center;
    caret-color: transparent;

    border-radius: 5px;
    font-size: 16px;

    transition: border-color 0.3s ease;
}

.input-field::placeholder {
    text-align: center;
}

.input-field:focus {
    outline: none;
}

.input-field:focus::placeholder {
    color: transparent;
}